**/.git
**/.gitignore
**/.github
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/out
**/node_modules
**/dist
**/TestResults
**/coverage
**/*.user
**/*.suo
**/*.pfx
**/*.key
**/*.pem
**/*.env
**/.env
**/.env.*
**/*.log
**/*.tmp
**/*.cache
**/*.nupkg
**/*.swp
**/*.swo
**/*.ps1
**/*.cmd
**/*.sh
**/*.yaml
**/*.yml
**/Dockerfile.dockerignore
